
details {
  background: hsla(34, 100%, 44%, 0.27);
  padding: 2.5em;
  border: 1px solid hsla(162, 76%, 32%, .3);
  color: hsla(0, 0%, 0%, 0.59);
  border-radius: 5px;
  font-size: 2em;
}

details > p {
  background:hsla(34, 45%, 70%, 0.27);
  padding: 0.5em 0.7em;
  border-radius: 5px;
  box-shadow: 1px 1px 3px hsla(162, 76%, 32%, .2);
  font-size: 1em;
  margin-top: 1em;
}
